/*!
 * =======================================
 * crab v0.0.1 ()
 * Copyright 2015 周王献
 * v0.0.1
 * ==============================
 */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
.b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 18px;
}
h5,
.h5 {
  font-size: 14px;
  margin-top: 20px;
}
h6,
.h6 {
  font-size: 12px;
  margin-top: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  color: #777777;
}
mark {
  color: #000;
  background: #ffff00;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  vertical-align: top;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
button， input,
optgroup,
select,
textarea {
  margin: 0;
  color: inherit;
  font: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  currsor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box;
}
input[typt="number"]::webkit-inner-spin-button,
input[typt="number"]::webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: testfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
  color: #000;
  background-color: #fff;
}
a {
  color: #e85737;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:active {
  color: #d43a18;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}
.content > * {
  -webkit-fransform: translateZ(0);
  -ms-fransform: translateZ(0);
  fransform: translateZ(0);
}
.bar-nav ~ .content {
  padding-top: 44px;
}
.bar-header-secondary ~ .content {
  padding-top: 88px;
}
.bar-footer ~ .content {
  padding-bottom: 44px;
}
.bar-footer-secondary ~ .content {
  padding-bottom: 88px;
}
.bar-tab ~ .content {
  padding-bottom: 50px;
}
.bar-footer-secondary-tab ~ .content {
  padding-bottom: 94px;
}
.content-padded {
  margin: 10px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
.over {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #fff;
  z-index: 100;
}
.bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #e85737;
  -wekit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #ffffff;
}
.bar-header-secondary {
  top: 44px;
}
.bar-footer {
  bottom: 0;
}
.bar-footer-secondary {
  bottom: 44px;
}
.bar-footer-secondary-tab {
  bottom: 50px;
}
.bar-footer,
.bar-footer-secondary,
.bar-footer-secondary-tab {
  border-top: 1px solid #dddddd;
  border-bottom: 0;
}
.bar-nav {
  top: 0;
}
.title {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0 -10px;
  font-size: 17px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
}
.title a {
  color: inherit;
}
.bar-tab {
  display: table;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  background-color: #ffffff;
}
.bar-tab .tab-item {
  display: table-cell;
  width: 1%;
  height: 50px;
  color: #929292;
  text-align: center;
  vertical-align: middle;
}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
  color: #e85737;
}
.bar-tab .tab-item .icon {
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
}
.bar-tab .tab-item .icon ~ .tab-label {
  display: block;
  font-size: 11px;
}
.bar .btn {
  position: relative;
  z-index: 20;
  padding: 6px 12px 7px;
  margin-top: 0;
  font-weight: 400;
}
.bar .btn.pull-right {
  margin-left: 10px;
}
.bar .btn.pull-left {
  margin-left: 10px;
}
.bar .btn-link {
  top: 0;
  padding: 0;
  font-size: 16px;
  line-height: 44px;
  color: #e85737;
  border: 0;
}
.bar .btn-link:active,
.bar .btn-link.active {
  color: #d43a18;
}
.bar .btn-block {
  top: 6px;
  padding: 7px 0;
  margin-bottom: 0;
  font-size: 16px;
}
.bar .btn-nav.pull-left {
  margin-left: -5px;
}
.bar .btn-nav.pull-left .icon-left-nav {
  margin-right: -3px;
}
.bar .btn-nav.pull-right {
  margin-right: -5px;
}
.bar .btn-nav.pull-right .icon-right-nav {
  marign-left: -3px;
}
.bar .icon {
  position: relative;
  z-index: 20;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
  color: #ffffff;
}
.bar .btn .icon {
  top: 3px;
  padding: 0;
}
.bar .title .icon {
  padding: 0;
}
.bar .title .icon.icon-caret {
  top: 4px;
  margin-left: -5px;
}
.bar input[type="search"] {
  height: 29px;
  margin: 6px 0;
}
.bar .segmented-control {
  top: 7px;
  margin: 0 auto;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn:active,
.btn.active {
  color: inherit;
  background-color: #cccccc;
}
.btn:disabled,
.btn.disabled {
  opacity: .6;
}
.btn-primary {
  color: #fff;
  background-color: #e85737;
  border: 1px solid #e85737;
}
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #d43a18;
  border: 1px solid #d43a18;
}
.btn-position {
  color: #fff;
  background-color: #5cbe88;
  border: 1px solid #5cbe88;
}
.btn-position:active,
.btn-position.active {
  color: #fff;
  background-color: #42a56e;
  border: 1px solid #42a56e;
}
.btn-negative {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
}
.btn-negative:active,
.btn-negative.active {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #d9534f;
}
.btn-outlined {
  background-color: transparent;
}
.btn-outlined.btn-primay {
  color: #e85737;
}
.btn-outlined.btn-positive {
  color: #5cbe88;
}
.btn-outlined.btn-negative {
  color: #d9534f;
}
.btn-outlined.btn-primary:active,
.btn-outlined.btn-positive:active,
.btn-outlined.btn-negative:active {
  color: #fff;
}
.btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #e85737;
  background-color: transparent;
  border: 0;
}
.btn-link:active,
.btn-link.active {
  color: #d43a18;
  background-color: transparent;
}
.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: 100%;
}
.btn .badge {
  margin: -2px -4px;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.15);
}
.btn .badge-inverted,
.btn:active .badge-inverted {
  background-color: transparent;
}
.btn-primary:active .badge-inverted,
.btn-positive:active .badge-inverted,
.btn-negative:active .badge-inverted {
  color: #fff;
}
.btn-block .badge {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
.btn .icon {
  font-size: inherit;
}
.badge {
  display: inline-block;
  padding: 2px 9px 3px;
  font-size: 12px;
  line-height: 1;
  color: #333;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}
.badge.badge-inverted {
  padding: 0 5px 0 0;
  background-color: transparent;
}
.badge-primary {
  color: #fff;
  background-color: #e85737;
}
.badge-primary.badge-inverted {
  color: #e85737;
}
.badge-positive {
  color: #fff;
  background-color: #5cbe88;
}
.badge-positive.badge-inverted {
  color: #5cbe88;
}
.badge-negative {
  color: #fff;
  background-color: #d9534f;
}
.badge-negative.badge-inverted {
  color: #d9534f;
}
.card {
  margin: 10px;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 6px;
}
.card .table-view {
  margin-bottom: 0;
  border-top: 0;
  border-bottom: 0;
}
.card .table-view .table-view-divider:first-child {
  top: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.card .table-view .table-view-divider:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.card .table-view-cell:last-child {
  border-bottom: 0;
}
.table-view {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.table-view-cell {
  position: relative;
  padding: 11px 15px 11px 15px;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
}
.table-view-cell:last-child {
  border-bottom: 0;
}
.table-view-cell > a:not(.btn) {
  position: relative;
  display: block;
  padding: inherit;
  margin: -11px -15px -11px -15px;
  overflow: hidden;
  color: inherit;
}
.table-view-cell > a:not(.btn):active {
  background-color: #eee;
}
.table-view-cell p {
  margin-bottom: 0;
}
.table-view-cell-icon {
  padding: 11px 65px 11px 15px;
}
.table-view-cell-icon > a:not(.btn) {
  margin: -11px -65px -11px -15px;
}
.table-view-divider {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  margin-top: -1px;
  margin-left: 0;
  font-weight: 500;
  color: #999;
  background-color: #fafafa;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
.table-view .media,
.table-view .media-body {
  overflow: hidden;
}
.table-view .media-object.pull-left {
  margin-right: 10px;
}
.table-view .media-object.pull-right {
  margin-left: 10px;
}
.table-view-cell > .btn,
.table-view-cell > a > .btn,
.table-view-cell > .badge,
.table-view-cell > a > .badge,
.table-view-cell > .toggle,
.table-view-cell > a > .toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-fransform: translsteY(-50%);
  -ms-fransform: translsteY(-50%);
  fransform: translsteY(-50%);
}
.table-view-cell .navigate-left > .btn,
.table-view-cell > a .navigate-left > .btn,
.table-view-cell .navigate-right > .btn,
.table-view-cell > a .navigate-right > .btn,
.table-view-cell .pull-left > .btn,
.table-view-cell > a .pull-left > .btn,
.table-view-cell .pull-right > .btn,
.table-view-cell > a .pull-right > .btn,
.table-view-cell .navigate-left > .badge,
.table-view-cell > a .navigate-left > .badge,
.table-view-cell .navigate-right > .badge,
.table-view-cell > a .navigate-right > .badge,
.table-view-cell .pull-left > .badge,
.table-view-cell > a .pull-left > .badge,
.table-view-cell .pull-right > .badge,
.table-view-cell > a .pull-right > .badge,
.table-view-cell .navigate-left > .toggle,
.table-view-cell > a .navigate-left > .toggle,
.table-view-cell .navigate-right > .toggle,
.table-view-cell > a .navigate-right > .toggle,
.table-view-cell .pull-left > .toggle,
.table-view-cell > a .pull-left > .toggle,
.table-view-cell .pull-right > .toggle,
.table-view-cell > a .pull-right > .toggle {
  right: 35px;
}
.content > .table-view:first-child {
  margin-top: 15px;
}
input,
textarea,
button,
select {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 17px;
}
select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"] {
  height: 35px;
  width: 100%;
  -webkit-appearance: none;
  padding: 0 15px;
  margin-bottom: 15px;
  line-height: 21px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  outline: none;
}
input[type="search"] {
  padding: 0 10px;
  font-size: 16px;
  border-radius: 20px;
}
input[type="search"]:focus {
  test-align: left;
}
textarea {
  height: auto;
}
select {
  height: auto;
  font-size: 14px;
  background-color: #f8f8f8;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}
.input-group {
  background-color: #fff;
}
.input-group input,
.input-group textarea {
  margin-bottom: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.input-row {
  overflow: hidden;
  height: 35px;
  border-bottom: 1px solid #dddddd;
}
.input-row label {
  float: left;
  width: 35%;
  padding: 8px 15px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.1;
}
.input-row input {
  float: right;
  width: 65%;
  padding-left: 0;
  padding-bottom: 0;
  border: 0;
}
.columns {
  position: relative;
  display: table;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.columns .colm {
  display: table-cell;
  width: 1%;
  padding-top: 6px;
  padding-bottom: 7px;
  overflow: hidden;
  line-height: 1;
  color: #333;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}
.columns .colm:first-child {
  border-left-width: 0;
}
.columns .colm:active {
  background-color: #eee;
}
.columns .colm.active {
  background-color: #ccc;
}
.columns-primary {
  border-color: #e85737;
}
.columns-primary .colm {
  color: #e85737;
  border-color: inherit;
}
.columns-primary .colm:active {
  background-color: #ed7d65;
}
.columns-primary .colm.active {
  color: #fff;
  background-color: #e85737;
}
.columns-positive {
  border-color: #5cbe88;
}
.columns-positive .colm {
  color: #5cbe88;
  border-color: inherit;
}
.columns-positive .colm:active {
  background-color: #80cda3;
}
.columns-positive .colm.active {
  color: #fff;
  background-color: #5cbe88;
}
.columns-negative {
  border-color: #d9534f;
}
.columns-negative .colm {
  color: #d9534f;
  border-color: inherit;
}
.columns-negative .colm:active {
  background-color: #e27c79;
}
.columns-negative .colm.active {
  color: #fff;
  background-color: #d9534f;
}
.columns-outlined {
  background-color: transparent;
  border-color: #ffffff;
}
.columns-outlined .colm {
  color: #ffffff;
  border-color: inherit;
}
.columns-outlined .colm:active {
  color: #fff;
  background-color: #e85737;
}
.columns-outlined .colm.active {
  color: #e85737;
  background-color: #ffffff;
}
.colm {
  display: none;
}
@font-face {
  font-family: Ratchicons;
  font-weight: normal;
  font-style: normal;
  background: 'http://local.e-cantonfair.com/app' 'sadsdsa';
  background-image: '@href';
  src: url('fonts/ratchicons.eot');
  src: url('fonts/ratchicons.eot?#iefix') format('embedded-opentype'), url('fonts/ratchicons.woff') format('woff'), url('fonts/ratchicons.ttf') format('truetype'), url('fonts/ratchicons.svg#svgFontName') format('svg');
}
.icon {
  display: inline-block;
  font-family: Ratchicons;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.icon-back:before {
  content: '\e80a';
}
.icon-bars:before {
  content: '\e80e';
}
.icon-caret:before {
  content: '\e80f';
}
.icon-check:before {
  content: '\e810';
}
.icon-close:before {
  content: '\e811';
}
.icon-code:before {
  content: '\e812';
}
.icon-compose:before {
  content: '\e813';
}
.icon-download:before {
  content: '\e815';
}
.icon-edit:before {
  content: '\e829';
}
.icon-forward:before {
  content: '\e82a';
}
.icon-gear:before {
  content: '\e821';
}
.icon-home:before {
  content: '\e82b';
}
.icon-info:before {
  content: '\e82c';
}
.icon-list:before {
  content: '\e823';
}
.icon-more-vertical:before {
  content: '\e82e';
}
.icon-more:before {
  content: '\e82f';
}
.icon-pages:before {
  content: '\e824';
}
.icon-pause:before {
  content: '\e830';
}
.icon-person:before {
  content: '\e832';
}
.icon-play:before {
  content: '\e816';
}
.icon-plus:before {
  content: '\e817';
}
.icon-refresh:before {
  content: '\e825';
}
.icon-search:before {
  content: '\e819';
}
.icon-share:before {
  content: '\e81a';
}
.icon-sound:before {
  content: '\e827';
}
.icon-sound2:before {
  content: '\e828';
}
.icon-sound3:before {
  content: '\e80b';
}
.icon-sound4:before {
  content: '\e80c';
}
.icon-star-filled:before {
  content: '\e81b';
}
.icon-star:before {
  content: '\e81c';
}
.icon-stop:before {
  content: '\e81d';
}
.icon-trash:before {
  content: '\e81e';
}
.icon-up-nav:before {
  content: '\e81f';
}
.icon-up:before {
  content: '\e80d';
}
.icon-right-nav:before {
  content: '\e818';
}
.icon-right:before {
  content: '\e826';
}
.icon-down-nav:before {
  content: '\e814';
}
.icon-down:before {
  content: '\e820';
}
.icon-left-nav:before {
  content: '\e82d';
}
.icon-left:before {
  content: '\e822';
}
.popover {
  position: fixed;
  top: 55px;
  left: 50%;
  z-index: 20;
  display: none;
  width: 280px;
  margin-left: -140px;
  background-color: #ffffff;
  border-radius: 6px;
  opacity: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-fransform: translate3d(0, -15px, 0);
  -ms-fransform: translate3d(0, -15px, 0);
  fransform: translate3d(0, -15px, 0);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.popover:before {
  position: absolute;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -15px;
  content: '';
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  border-left: 15px solid transparent;
}
.popover.visible {
  opacity: 1;
  -webkit-fransform: translate3d(0, 0, 0);
  -ms-fransform: translate3d(0, 0, 0);
  fransform: translate3d(0, 0, 0);
}
.popover .bar ~ .table-view {
  padding-top: 44px;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.3);
}
.popover .btn-block {
  margin-bottom: 5px;
}
.popover .btn-block:last-child {
  margin-bottom: 0;
}
.popover .bar-nav {
  border-bottom: 1px solid #dddddd;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.popover .table-view {
  max-height: 300px;
  margin-bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
  border-top: 0;
  border-bottom: 0;
  border-radius: 6px;
}
.slider {
  width: 100%;
  overflow: hidden;
  background-color: #ccc;
}
.slider .slide-group {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  transition: all 0s linear;
}
.slider .slide-group .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  vertical-align: top;
}
.ms-controller {
  visibility: hidden;
}
.time {
  font-size: 75%;
  color: #999;
  margin-bottom: 10px;
}
.new-con {
  padding: 10px;
}
.new-con h1 {
  font-size: 22px;
  margin-top: 10px;
}
.new-attr {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 75%;
  color: #999;
  border-bottom: 1px dotted #ddd;
}
.pro-item .media-body {
  color: #e85737;
  font-size: 14px;
}
.pro-item .pro-val {
  color: #333;
}
.pro-con h1 {
  font-size: 20px;
  margin-top: 10px;
}
.pro-con .pro-title {
  padding: 0 10px;
}
.pro-con .columns {
  font-size: 16px;
  clear: both;
}
.pro-con .pro-item {
  padding: 10px;
  font-size: 13px;
}
.pro-con .pro-item .badge {
  margin-right: 10px;
}
.pro-con .pro-item > div {
  color: #e85737;
}
.pro-con .pro-item > div .pro-val {
  color: #333;
}
.pro-con .pro-desc {
  padding: 10px;
}
.home-p {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background: #fff;
}
.user-head {
  padding-bottom: 10px;
  background: #ccc;
}
.user-head:before {
  display: block;
  content: '';
  height: 200px;
  background: url(../images/login-bg.jpg) no-repeat center center;
  background-size: cover;
}
.user-head .avatar {
  position: relative;
  width: 102px;
  left: 50%;
  margin-left: -51px;
  margin-top: -51px;
  text-align: center;
}
.user-head .avatar .avatarP {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 6px;
  border-radius: 50%;
  margin-bottom: 6px;
}
.user-head img {
  border-radius: 50%;
}
.user-head .back {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
}
.input-val {
  padding: 8px 15px;
}
.login {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  background: #ffffff url(../../images/login-bg.jpg) no-repeat;
  background-size: cover;
}
.hidden {
  display: hidden;
}
.login-w {
  padding: 10px;
}
.login-w .icon {
  color: #ffffff;
}
.login-w > form {
  position: absolute;
  top: 50%;
  padding: 0 30px;
  -webkit-transform: translate(0, -70%);
  transform: translate(0, -70%);
}
.login-w > form .input-row {
  background-color: transparent;
  margin-bottom: 10px;
}
.login-w > form .input-row > input {
  width: 100%;
  color: #fff;
}
.login-w img {
  margin: 10px 0 50px;
}
.login-w .input-group {
  background-color: transparent;
}
.login-w .input-row-btn {
  margin-top: 20px;
}
.login-w .btn-block {
  padding: 12px 0;
}
.login-w .sginIn {
  color: #fff;
}
#popover {
  top: 290px;
  display: none;
  margin-left: -90px;
}
#popover:before {
  left: auto;
  right: 10px;
}
#popover .media {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#popover .media .pull-left {
  margin-right: 10px;
}
.seller-foot {
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}
.bar-tool ~ .content {
  padding-bottom: 50px;
}
.bar-tool {
  display: table;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-top: 1px solid #dddddd;
  border-bottom: 0;
  background-color: #ffffff;
}
.bar-tool .tab-item {
  display: table-cell;
  width: 1%;
  height: 50px;
  color: #929292;
  text-align: center;
  vertical-align: middle;
}
.bar-tool .tab-item.active,
.bar-tool .tab-item:active {
  color: #e85737;
}
.bar-tool .tab-item .icon {
  top: 0;
}
.bar-tool .tab-item .icon ~ .tab-label {
  display: block;
  font-size: 11px;
}
/*# sourceMappingURL=app-newpro.css.map */