<header class="bar bar-nav">
  <a href="" class="pull-left btn">返回</a>
  <a href="" class="pull-right icon icon-person"></a>
  <h1 class="title">新闻资讯</h1>
</header>
<div class="content">
	<time>
		From E-Cantonfair, Dec 09,2014
	</time>
	<h1>First China-Made Cars Hitting U.S. Roads this Year</h1>
	<p>Categories：Fashion Accessories and Fittings</p>
	<div class="page-content">
		<p>Today, Reuters reports that this year Volvo Car Group plans to sell in the U.S. midsize sedans made in Chengdu, in southwest China. Executives of Zhejiang Geely Holding Group Co., now Volvo’s parent, say that the sedan will be the S60L.
</p><p>
 

Volvo began building that model in China at the end of 2013 specifically for the Chinese market. The car, with a longer wheelbase, is designed for owners with chauffeurs.

 </p><p>

Volvo expects to ship 1,500 Chinese-made S60Ls to the U.S. this year. When the brand does so, it will be the first major one to export in sizable quantities China-made cars to the American market.
</p>
	</div>
</div>