<div ms-controller="userCtrl">
	<div class="user-head">
		<div class="avatar">
			<div class="avatarP">
			<img ms-src="userImg" alt="" class="media-object" width="90" height="90">
			</div>
			{{userName}}
		</div>		
		
	</div>
	<div class="cards">
		<div class="input-groud">
			<div class="input-row"><label for="">Canton faire ID</label><input type="text" name="" placeholder="babywang@qq.com"></div>
			<div class="input-row"><label for="">账号</label><input type="text" name="" placeholder="babywang@qq.com"></div>
			<div class="input-row"><label for="">姓名</label><input type="text" name="" placeholder="crab"></div>
			<div class="input-row"><label for="">性别</label>
			<select name="" id="">
				<option value="">男</option>
				<option value="">女</option>
			</select></div>
			<div class="input-row"><label for="">国家</label><select name="" id="">
				<option value="">中国</option>
				<option value="">世界只有一个中国</option>
			</select></div>
			<div class="input-row"><label for="">公司名称</label><input type="text" name="" placeholder="广电商"></div>
			<div class="input-row"><label for="">手机号码</label><input type="text" name="" placeholder="1836756644"></div>
			<div class="input-row"><label for="">skype</label><input type="text" name="" placeholder="215487"></div>
			<div class="input-row"><label for="">facebook</label><input type="text" name="" placeholder="215487"></div>
		</div>
	</div>
	<!-- <div class="box">
		<input type="submit" value="保存" class="btn btn-block btn-primary">
	</div> -->
</div>