  <div class="slider">
    <div class="slide-group">
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
    </div>
  </div>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a href="">
        <h3>Proposal to Form China's First Bitcoin Advocacy Group to Test Government Attitude</h3>
        <time>From E-Cantonfair, Dec 09,2014</time>
        <img src="http://placehold.it/64x64" alt="" class="media-object pull-right">
        <div class="media-body">
          Today, Reuters reports that this year Volvo Car Group plans to sell in the U.S. midsize sedans made in Chengdu, in southwest China. Executives of Zhejiang Geely Holding Group Co., now Volvo’s parent, ……
        </div>
      </a>
    </li>
  </ul>