<div>
  <div class="slider">
    <div class="slide-group">
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
      <div class="slide"><a href=""><img src="http://placehold.it/480X200" alt=""></a></div>
    </div>
  </div>
  <ul class="table-view">
    <li class="table-view-cell media">
      <a href="">
        <h3>Proposal to Form China's First Bitcoin Advocacy Group to Test Government Attitude</h3>
        <img src="http://placehold.it/150x150" alt="" class="media-object pull-left">
        <div class="media-body">
          <p>
            tem Number: PR-DB034  <br>
    Watt: 3*1W <br>
    Color Temperature: 2700-6400k <br>
    Warranty: 2 Years <br>
    Size: 59*123mm<br>
    The shell color :green/blue/yellow/white/red
          </p>
        </div>
        <button class="btn btn-block">投票</button>
      </a>
    </li>
  </ul>
</div>